%h1.page-header
  Editing
  %small
    Observation
.col-lg-10
  = render 'form'
  = link_to 'Show', @observation, class: "btn btn-primary"
  = link_to 'Back', observations_path, class: "btn btn-default"
