.clear-20
.field
  %h4
    Observation
  = f.label :notes
  = f.text_field :notes, class: "form-control"
  = f.check_box :_destroy, class: "form-control"
  = f.label :_destroy,"Delete", class: "form-control"
.clear-20
.field
  %a{:href => "/", class:"btn btn-danger btn-sm"}
    %i.fa-minus.fa
    Remove Observation
